<div style="position:fixed;right:20px;top:10px;">
  <button id="nav_btn" class="btn btn-primary">
    <i class="fa fa-2x fa-navicon"></i>
  </button>
</div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/jquery.pjax.js"></script>
<script src="/public/js/prettify/prettify.js"></script>
<script src="/public/js/base.js"></script>

<!-- 以http开头的链接，在新窗口中打开 START-->
<script>
	function addBlankTargetForLinks () {
	  $('a[href^="http"]').each(function(){
	      $(this).attr('target', '_blank');
	  });
	}

	$(document).on('DOMNodeInserted', function(event) {
	  addBlankTargetForLinks();
	});
</script>
<!-- 以http开头的链接，在新窗口中打开 END-->

<script>
    $('a[href="#{{ site.active }}"]').tab('show');
</script>
<!--多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
  var duoshuoQuery = {short_name:"{{ site.duoshuo.shortname }}"};
</script>
<script src="http://static.duoshuo.com/embed.js"></script>
<!--多说js加载结束，一个页面只需要加载一次 -->

<!-- googleanalytics 代码 START-->
{% include googleanalytics.html %}
<!-- googleanalytics 代码 END-->